<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSScreenCaptureUsageDescription</key>
  <string>FAST needs screen recording access so you can select and annotate screenshots.</string>
</dict>
</plist>
